.container {
  width: 310px;
  margin: 0 auto;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid grey;
  font-size: 48px;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: gainsboro;
}